* {
	box-sizing: border-box;
}
.box {
	width: 300px;
	height: 400px;
	display: block;
	position: fixed;
	background-color: white;
	border: 2px solid gray;
	left: 50%;
	margin-left: -150px;
	top: 50%;
	margin-top: -200px;
	padding: 20px 30px 20px 30px;
	
}
.text1 {
	position: fixed;
	display: inline-block;
	width: 90px;
	height: 400px;

}
.text2 {
	position: fixed;
	width: 90px;
	height: 400px;
	margin-left: 150px;
	margin-right: 0;
}